<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!--Singleton is default scope
    Any new reference using Singleton Bean will reference same Object-->
<!--Singleton Beans are automatically created regardless if getBean was called-->
<!--Prototype scope creates new instances of Bean-->
<!--ProtoType Beans will only be created when getBean is called -->
    <bean id = "myPet"
          class = "com.sazonov.springCourse.springIntroduction.Dog"
          scope  ="prototype">
    </bean>
</beans>